<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <title>Login</title>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'index' %}">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block nav %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </nav>
    {%block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <h1>User Login</h1>
            <div class="container">
                <div class="forms">
                    <div class="form login">
                        <form method="post" class="form-group">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    Could not find matching account!
                                </div>
                            {% endif %}
                            <div class="input-field">
                                <p>Username</p>
                                {{ form.username }}
                            </div>
                            <div class="input-field">
                                <p>Password</p>
                                {{ form.password }}
                            </div><br>
                            <div class="input-field button">
                                <button type="submit" class="btn btn-success">Login</button>
                            </div><br>
                        </form>
                        <div class="login-signup">
                            <span class="text">Don't have an account?
                                <a href="{% url 'registration' %}">Create one here</a>
                            </span><br>
                            <span class="text">Forgot password?
                                <a href="{% url 'forgotpassword' %}">Reset here</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>