<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shopping Cart</title>
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'index' %}">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block nav %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                </ul>
                {% endblock %}
                <form class="d-flex" action="{% url 'cart' %}">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h1>Shopping Cart</h1><br>
        
            <div class="container">
                <!-- Phone Item -->
                {% for cart in matches %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2" style="display: flex; padding: 10px; justify-content: center;">
                            <img src="{{ cart.item.url }}" alt="{{ cart.item.name }}" class="rounded-start" style="height: 200px; width: auto; object-fit: contain;" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-weight: bold;">{{ cart.item.name }}</h5>
                                <p class="card-text"> $ {{ cart.item.price }}</p>
                                <p class="card-text"> Storage: {{ cart.item.storage }} Gb</p>
                                <p class="card-text"> Ram: {{ cart.item.ram }} Gb</p>
                                <p class="card-text"> Size: {{ cart.item.size }}</p>
                            </div>
                        </div>
                        <div class="col" style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 10px;">
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class = "btn btn-danger" style="width: 120px"><i class="bi bi-x-lg" style="padding-right: 10px; margin-left: -10px"></i>Remove</button>
                                <input type="hidden" name="item" value="{{cart.item.itemId}}">
                            </form>
                            <a href="{% url 'productView' cart.item.itemId %}" class="btn btn-outline-dark" style="width: 120px">View Product</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% if matches.count != 0 %}
                <a href="{% url 'checkout' %}" style="text-decoration: none;">
                    <div class="d-grid gap-2 col-2 mx-auto">
                        <button class="btn btn-success">
                            Proceed to checkout
                        </button>
                    </div>
                </a>
            {% endif %}
            </div><br>
        </div>
    </section>
</body>
</html>