<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css%22%3E">
    <title>Forgot Password</title>
</head>
<body>

    <div>
        <div>
            <div>
                <span>Reset Password</span>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="username">Username:</label><br>
                        <input type="text" id="username" name="username" placeholder="Enter your username" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div>
                        <label for="newpassword">New password:</label><br>
                        <input type="password" id="newpassword" name="newpassword" class="password" placeholder="Enter your new password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div>
                        <input type="submit" value="Submit" name="login_now">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>