<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Search</title>
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'index' %}">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block nav %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                    </ul>
                    <form class="d-flex" action="{% url 'cart' %}">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart <span class="badge bg-dark">{{ cartCount }}</span>
                        </button>
                    </form>
                {% endblock %}
            </div>
        </div>
    </nav>
    <!-- Search Bar -->
    <section class = "py-5">
        <div class="container px-4 px-lg-5 my-5">
            <h1>Search</h1>
            <!-- Search form -->
            <div class="container">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="search">
                            {% block search %}
                            <form method="post">
                                {% csrf_token %}
                                <div class = "input-group-btn"  style="display: flex; flex-direction: row;">
                                    <i class="bi-search" style="position: block; margin-top: 7px; margin-right: 5px;"></i>
                                    <input type="text" class="form-control" placeholder="Search our Products" name="search" style="width: 80%;" />
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </form>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- Phone Item -->
                {% for item in matches %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class = "card-img-top" src="{{ item.url }}" alt="{{ item.name }}" style="height: 300px; width: auto; object-fit: contain;"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ item.name }}</h5>
                                <!-- Product price-->
                                ${{item.price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'productView' item.itemId %}">View Product</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>